apiVersion: v1
kind: Deployment
metadata: 
  name: node-selector
spec:
  replicas: 6
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      nodeSelector:
        env: test
      containers:
      - name: co1
        image: nginx
        ports:
        - containerPort: 8080