apiVersion: apps/v1
kind: Deployment
metadata:
  name: toleration-Deployment
spec: 
  replicas: 4
  selector:
    matchLabels: 
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      tolerations:
      - key: env
        operator: "Equal"
        value: "test"
        effect: "NoSchedule"
      containers:
      - name: co1
        image: nginx
        ports:
        - containerPort: 8080